name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  linter-and-unit:
    name: Linter and Unit test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 18
          - 20
          - 22
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: true

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Build project
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          NODE_OPTIONS: --max_old_space_size=8192
        run: pnpm build

      - name: Linter test
        run: pnpm lint
